html,
body {
  margin: 0;
  background: #333;
}

#map {
  width: min(100vh, 100vw);
  height: min(100vh, 100vw);
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  mask-image: -webkit-radial-gradient(white, black);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.marker > div {
  width: 18px;
  height: 18px;
  background: #3296ff;
  border-radius: 50%;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.5);
}
