html,
body {
  margin: 0;
  background: #333;
}

#map {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  mask-image: -webkit-radial-gradient(white, black);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.marker > div {
  width: 12px;
  height: 12px;
  background: #3296ff;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.marker.me > div {
  width: 20px;
  height: 20px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
}

.mapboxgl-ctrl {
  display: none !important;
}
