
// colors
/*$bg: #23225D; //#ffeb3b;
$darkbg: #111;
$panelcolor: lighten(#23225D, 3%);
$offpanel: darken($panelcolor, 2%);
$active: #ffeb3b;
$text: #fff;
$text-sub: #666;
*/

$bg: #fafafa; //#ffeb3b;
$darkbg: #1b1b1b;
$panel: #fff;
$offpanel: darken($panel, 2%);
$border: darken($panel, 6%);
$active: #f00;
$text: #000;
$text-sub: #666;

// base units

$grid-base: 6px;
$type-base: 19px;

$line-height: 1.7;
$letter-spacing: 0.4px;

// sizing

$screen-edge: $grid-base * 10;
$text-column: $grid-base * 135;

// styles

$big-shadow: 0 6px 16px rgba($darkbg, .1);

// mixins

@mixin flex-center () {
  display: flex;
  align-items: center;
  justify-content: center;
}