
$font-stack: "Didact Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$header-font-stack: "Raleway", $font-stack;

// base colors

$bg: #fff; //#fafafa; //#ffeb3b;
$panel: #fff;
$active: #e86231;//#F26430;
$active2: #009DDC;//#FFB400;
$darkbg: #222;
$text: rgb(48, 44, 49);
$text-sub: #999;


// derivative colors

$offpanel: darken($panel, 2%);
$border: darken($panel, 6%);
$border-bg: darken($bg, 6%);
$active-on-dark: desaturate(lighten($active, 3%), 0%);


// base units

$grid-base: 5px;
$type-base: 17.5px;

$line-height: 1.7;
$letter-spacing: 0.5px;


// sizing

$max-page-width: 1200px;
$max-text-column-width: 750px;
$screen-edge: $grid-base * 15;
$screen-edge-mobile: $grid-base * 4;
$text-column: $grid-base * 135;
$content-pad: $grid-base * 8;
$content-pad-mobile: $grid-base * 4;


// styles

$big-shadow: 0 5px 10px rgba($darkbg, .2);
$color-shadow: 0 5px 10px rgba($active, .3);


// mixins

@mixin flex-center () {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin full-width-with-pad () {
  max-width: $max-page-width + $screen-edge*2;
  padding-right: $screen-edge;
  padding-left: $screen-edge;
  width: 100%;
  margin: 0 auto;
}

@mixin full-width-with-pad-mobile () {
  max-width: $max-page-width + $screen-edge-mobile*2;
  padding-right: $screen-edge-mobile;
  padding-left: $screen-edge-mobile;
  width: 100%;
  margin: 0 auto;
}

@mixin width ($size) {
  @if $size == "mobile" {
    @media (max-width: 768px) { @content; }
  }
  @if $size == "desktop" {
    @media (min-width: 769px) { @content; }
  }
}
